<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>12音乐盒录入系统</h1>
<h2><%= title %></h2>
<div class="ui breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right chevron icon divider"></i>
    <a class="section" href="/banner">Banner</a>
    <i class="right arrow icon divider"></i>
    <div class="active section">Add Banner</div>
</div>
<form class="ui form" action="/banner/add_banner" method="post">
    <div class="field">
        <label>标题</label>
        <input type="text" name="title" id="title">
    </div>
    <div class="field">
        <label>排序权重</label>
        <input type="text" name="seq" id="seq">
    </div>
    <div class="field">
        <label>URL</label>
        <input type="text" name="url" id="url">
    </div>
    <div class="field">
        <label>图片</label>
        <input type="file" name="image" id="image">
    </div>
    <div class="ui primary submit button">提交</div>
    <div class="ui error message"></div>
</form>
<script>
  $('.ui.form')
    .form({
      fields: {
        title: {
          identifier: 'title',
          rules: [
            {
              type: 'empty',
              prompt: '请输入标题！'
            }
          ]
        },
        seq: {
          identifier: 'seq',
          rules: [
            {
              type: 'empty',
              prompt: '请输入数字权重！'
            },
            {
              type: 'number',
              prompt: '请输入数字权重！'
            }
          ]
        },
        url: {
          identifier: 'url',
          rules: [
            {
              type: 'url',
              prompt: '请输入合法的url！'
            }
          ]
        }
      }
    });
</script>
</body>
</html>
