<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>12音乐盒录入系统</h1>
<h2><%= title %></h2>
<div class="ui breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right chevron icon divider"></i>
    <a class="section" href="/exsong">ExSong</a>
    <i class="right arrow icon divider"></i>
    <div class="active section">Add ExSong</div>
</div>
<form class="ui form" action="/exsong/add_exsong" method="post">
    <div class="field">
        <label>类型</label>
        <select class="ui compact selection dropdown" name="type" id="type">
            <option selected="" value="1">纪念歌曲</option>
            <option value="2">电台歌曲</option>
            <option value="3">翻唱歌曲</option>
        </select>
    </div>
    <div class="field">
        <label>歌曲名</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="field">
        <label>封面</label>
        <input type="file" name="cover" id="cover">
    </div>
    <div class="field">
        <label>演唱者</label>
        <input type="text" name="singer" id="singer">
    </div>
    <div class="field">
        <label>歌曲描述</label>
        <input type="text" name="description" id="description">
    </div>
    <div class="field">
        <label>歌词</label>
        <input type="text" name="lyrics" id="lyrics">
    </div>
    <div class="field">
        <label>音频地址</label>
        <input type="text" name="url" id="url">
    </div>
    <div class="field">
        <label>备份地址</label>
        <input type="text" name="url2" id="url2">
    </div>
    <div class="ui primary submit button">提交</div>
    <div class="ui error message"></div>
</form>
<script>
  $('.ui.form')
    .form({
      fields: {
        type: {
          identifier: 'type'
        },
        name: {
          identifier: 'name'
        },
        cover: {
          identifier: 'cover'
        },
        singer: {
          identifier: 'singer'
        },
        description: {
          identifier: 'description'
        },
        lyrics: {
          identifier: 'lyrics'
        },
        url: {
          identifier: 'url'
        },
        url2: {
          identifier: 'url2'
        }
      }
    });
</script>
</body>
</html>
