<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>12音乐盒录入系统</h1>
<hr>
<p><a href="/banner">首页横幅</a></p>
<hr>
<p>歌曲库-全部歌曲</p>
<p>歌曲库-扩展歌曲</p>
<hr>
<p>歌单管理-基础歌单</p>
<p>歌单管理-推荐歌单</p>
<p>歌单管理-电台播客</p>
<p>歌单管理-贝壳翻唱</p>
<hr>
</body>
</html>
