<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>12音乐盒录入系统</h1>
<h2><%= title %></h2>
<div class="ui breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right chevron icon divider"></i>
    <a class="section" href="/sheet">Sheet</a>
    <i class="right arrow icon divider"></i>
    <div class="active section">Add Sheet</div>
</div>
<form class="ui form" action="/add_sheet" method="post">
    <div class="field">
        <label>网易云歌单id</label>
        <input type="text" name="wid" id="wid">
    </div>
    <div class="field">
        <label>排序权重</label>
        <input type="text" name="seq" id="seq">
    </div>
    <div class="field">
        <label>歌单类型</label>
        <select class="ui compact selection dropdown" name="type" id="type">
            <option selected="" value="1">风格分类</option>
            <option value="2">专辑</option>
        </select>
    </div>
    <div class="field">
        <label>歌单名</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="field">
        <label>封面图</label>
        <input type="text" name="cover" id="cover">
    </div>
    <div class="field">
        <label>歌单描述</label>
        <input type="text" name="description" id="description">
    </div>
    <div class="field">
        <label>歌曲id集合</label>
        <input type="text" name="song_ids" id="song_ids">
    </div>
    <div class="ui primary submit button">提交</div>
    <div class="ui error message"></div>
</form>
</body>
</html>
